[submodule "scripts/mpv-scripts"]
	path = scripts/mpv-scripts.disable
	url = https://github.com/Argon-/mpv-scripts.git
[submodule "scripts/mpv-repl"]
	path = scripts/mpv-repl.disable
	url = https://github.com/rossy/mpv-repl.git
[submodule "shaders/AdaptiveSharpen"]
	path = shaders/AdaptiveSharpen
	url = https://gist.github.com/8a77e4eb8276753b54bb94c1c50c317e.git
[submodule "shaders/mpv-prescalers"]
	path = shaders/mpv-prescalers
	url = https://github.com/bjin/mpv-prescalers.git
[submodule "shaders/SSimDownscaler"]
	path = shaders/SSimDownscaler
	url = https://gist.github.com/36508af3ffc84410fe39761d6969be10.git
[submodule "shaders/SSimSuperRes"]
	path = shaders/SSimSuperRes
    url = https://gist.github.com/2364ffa6e81540f29cb7ab4c9bc05b6b.git
[submodule "shaders/KrigBilateral"]
    path = shaders/KrigBilateral
    url = https://gist.github.com/a015fc885d5c22e6891820ad89555637.git
